__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.git
.gitignore
.env
.env.local
.env.*.local
README.md
*.md
.vscode/
.idea/
.DS_Store
*.log
.pytest_cache/
.mypy_cache/
/tests
/docs
